name: Check Release
on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]
  release:
    types: [published]
  schedule:
    - cron: "0 0 * * *"

jobs:
  check_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup
        uses: ./.github/actions/common

      - name: Check Release
        uses: ./.github/actions/check-release
        with:
          version_spec: 10.10.10
          token: ${{ secrets.GITHUB_TOKEN }}
